/* ************************************************************************** */
/*                                                                            */
/*       ::::::    ::::::   :::  ::::::::  ::::::::   :::  ::::::    :::::::  */
/*     :+:   :+: :+:   :+: :+: :+:   :+:  :+:    :+: :+: :+:   :+: :+:    :+: */
/*    +:+       +:+       +:+ +:+   +:+  +:+    +:+     +:+       +:+    +:+  */
/*   +#+       +:+       +#+ +:+   +#+  +:+    +#+ +:+ +#+       +#+:+:+#+:   */
/*  +#+       +#+       +#+   +#+#+#+# #+#+#+#+   +#+ +#+       +#+           */
/* #+#   #+# #+#   #+# #+#            #+#    #+# #+# #+#   #+# #+#    #+#     */
/*  ######    ######  ############## ###    ### ###   ######    #######       */
/*                                                                            */
/* ************************************************************************** */
/*                                                                            */
/*   style.css                                cclarice@student.21-school.ru   */
/*                                                                            */
/*   Created/Updated: 2021/08/02 14:58:41  /  2021/08/02 14:58:44 @cclarice   */
/*                                                                            */
/* ************************************************************************** */

* {
  box-sizing: border-box;
  font-family: Monospace;
  font-weight: bold;
  font-size: 107%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
	margin: 0;
    height: 100%;
    width: 100%;
}

.buttons {
	display: flex;
	width: 100%;
	height: 10%;
}

.forma {
	position: relative;
	width: 40%;
	height: 50%;
	background: white;
	top: 50%;
	left: 10%;
	transform: translate(0, -50%);
	margin: 0;
}

.input {
	position: fixed;
	border: 2px solid black;
	width: 70%;
	height: 100%;
	padding: 4px;
	background: white;
	color: black;
	font-size: 100%;
}

.button {
	position: fixed;
	left: 70%;
	width: 30%;
	height: 100%;
	border: 2px solid black;
	border-left: 0px solid white;
	margin: 0;
	padding: 0;
	font-size: 100%;
	background: white;
}

.button:hover {
	background: gray;
}

/**/
.slidecontainer {
	position: relative;
	width: 30%;
	height: 50%;
	left: 20%;
	top: 50%;
	display: flex;
	transform: translate(0, -50%);
}

.select_fast,
.select_push,
.select_swap {
	width: 33.33%;
	height: 100%;
	background: transparent;
	border: 2px solid black;
	text-align: center;
}

.select_fast:hover,
.select_push:hover,
.select_swap:hover {
	background: gray;
}
/**/

.circles_container {
	position: fixed;
	width: 90%;
	height: 90%;
	left: 5%;
	opacity: 1;

}

.circles {
	position: relative;
	width: 90vh;
	height: 90vh;
	max-width: 90vw;
	max-height: 90vw;
	left: 50%;
	top: 48.75%;
	transform: translate(-50%, 0%);
	pointer-events: none;
	opacity: 1;
}

.circle {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0%;
	transform: translate(0%, -50%);
	border: 1px solid black;
	border-radius: 50%;
	animation-duration: 1s;
	animation-name: fast0;
	animation-iteration-count: 1;
}

@keyframes fast0 {
	from {
		width: 0%;
		height: 0%;
		left: 50%;
		transform: translate(0%, -50%);
		opacity: 0;
		background: black;
	}
	20% {
		opacity: 0;
	}
	40% {
		background: black;
	}
	to {
	}
}

@keyframes fast1 {
	from {
		top: 0;
	}
	to {
	}
}

@keyframes fast2 {
	from {

	}
	to  {
		top: 0;
	}
}

@keyframes disappear{
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}